.button {
    border: none;
    font-size: 2rem;
    width: 5rem;
    background-color: transparent;
    cursor: pointer;
}

.transactions__submit-button {
    background-color: white;
    padding: .1rem 1.55rem .4rem 1.5rem;
    border-radius: 5px;
}

.button--sort {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: var(--color-light-grey-3);
    }
}
