.movements {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex-basis: 57rem;
    font-size: 1.4rem;
    max-height: 48.9rem;
    overflow-y: scroll;

    box-shadow: var(--box-shadow-small);

    @include respond(tablet-portrait) {
        margin-bottom: 3.8rem;
    }

    &__row {
        padding: 3.5rem;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;

        border-bottom: var(--border-bottom-light);
        height: 5rem;
    }

    &__type {
        text-transform: uppercase;
        padding: .02rem .9rem;
        color: rgb(237, 237, 237);
        border-radius: 50px;
        font-size: 1.2rem;
        font-weight: 500;

        &--deposit {
            background-image: linear-gradient(to bottom right, var(--color-green-light), var(--color-green-dark));
        }
        
        &--withdrawal {
            background-image: linear-gradient(to bottom right, var(--color-red-light), var(--color-red-dark));
        }
    }

    &__date {
        font-size: 1.2rem;
        color: var(--color-light-grey-3);
        font-weight: 500;
        margin-right: auto;
        margin-left: 2rem;
    }

    &__value {
        font-size: 1.5rem;

        &::after {
            content: " €";
        }
    }
}