.footer {
    margin: 0 auto;
    padding: 2rem;
    max-width: 105rem;
    background-color: inherit;
    display: flex;
    font-size: 1.5rem;
    align-items: baseline;

    // opacity: 0;
    transition: opacity .8s;

    @include respond(tablet-landscape) {
        flex-direction: column;
    }
}

.summary {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-basis: 57rem;
    min-width: 450px;

    @include respond(tablet-landscape) {
        width: 100%;
        min-width: 0;
        flex-basis: auto; /* Ajuste para evitar tamanho excessivo */
        min-width: 300px; /* Diminuído para adequar melhor ao layout */
        max-width: 100%; /* Para restringir o tamanho máximo */
    }

    &__info {
        text-wrap: nowrap;
        p {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    &__value {
        font-size: 2.5rem;

        &--in, &--interest {
            color: darken(#99E05E, 18) ;
        }

        &--out {
            color: darken($color: #FE575F, $amount: 10);
        }
    }
}

.logout-timer {
    color: var(--color-dark-grey);
    font-size: 1.3rem;
    min-width: 150px;
    flex-basis: auto;
    max-width: 100%;

    margin-left: auto;
    text-align: end;
    text-wrap: nowrap;

    @include respond(tablet-landscape) {
        flex-basis: auto;
        text-align: start;
        margin-left: 0;
        margin-top: 2rem;
    }
}

.timer {
    font-weight: bolder;
}
