.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-light-grey);

    padding: 2rem 3rem;

    // border-bottom: var(--border-bottom-light);

    @include respond(tablet-landscape) {
        justify-content: start;
    }

    &__login-message {
        font-size: 2rem;
        font-weight: 500;
        color: var(--color-dark-grey);

        @include respond(phone) {
            display: none;
        }

    }

    &__logo {
        height: 5rem;

        @include respond(tablet-landscape) {
            order: -1;
            margin-right: 1rem;
        }
    }

    &__login-container {
        display: flex;

        @include respond(tablet-landscape) {
            margin-left: auto;
        }
    }

    &__login-form {
        display: flex;
        gap: 1rem;
    }

    &__form-input {
        text-align: center;
        padding: 1rem;
        border: none;
        border-radius: 100px;
        width: 12rem;
        font-size: 1.2rem;
        font-weight: 500;

        box-shadow: 0 0 0 0 var(--color-light-grey-2);
        transition: box-shadow .3s;

        &::placeholder {
            color: var(--color-light-grey-2);
        }

        &:focus {
            box-shadow: 0 0 0 1px var(--color-light-grey-2);
            outline: none;
        }
    }
}
