:root {
    //COLORS
    --color-light-grey: #F3F3F3;
    --color-light-grey-2: #9d9c9c;
    --color-light-grey-3: #717171;

    --color-background: #F3F3F3;
    
    --color-dark-grey: #444444;
    --color-dark-grey-2: #393939;

    --color-yellow-light: #FFCB03;
    --color-yellow-dark: #FFB103;

    --color-green-light: #99E05E;
    --color-green-dark: #3DB583;

    --color-red-light: #FE575F;
    --color-red-dark: #E62C5A;

    --border-bottom-light: 1px solid rgba(0,0,0,.09);

    --box-shadow-small: 0 .1rem .5rem rgba(0, 0, 0, 0.200);
}
